{% extends '../layout/master.njk' %}

{% block title %}List{% endblock %}

{% block parentPageTitle %}Contact Us{% endblock %}

{% block pageStyle %}
    <link rel="stylesheet" href="admin/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="admin/plugins/sweetalert/sweetalert.css">
{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Contact Us</strong> List
                    </h2>
                    <ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="zmdi zmdi-more"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp">
                                <li>
                                    <a href="javascript:void(0)">Another action</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Something else</a>
                                </li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close">
                                <i class="zmdi zmdi-close"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped dataTable js-exportable" style="color: black">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Inquiry ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Message</th>
                                    <th>Inquiry Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-record-id="1">
                                    <td>1</td>
                                    <td>1</td>
                                    <td>Name</td>
                                    <td>Email</td>
                                    <td>Phone</td>
                                    <td>Message</td>
                                    <td>Inquiry Date</td>
                                    <td>
                                        <a href="javascript:void(0)" class="btn btn-success btn-icon btn-icon-mini btn-round">
                                            <i class="zmdi zmdi-eye"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-icon btn-icon-mini btn-round" onclick="void(0)">
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Inquiry ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Message</th>
                                    <th>Inquiry Date</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageScript %}
    <script src="admin/bundles/datatablescripts.bundle.js"></script>
    <script src="admin/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="admin/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="admin/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="admin/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="admin/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="admin/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="admin/plugins/jquery-datatable/buttons/buttons.pdf.min.js"></script>
    <script src="admin/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="admin/plugins/axios/axios.min.js"></script>
    <script src="admin/js/pages/tables/jquery-datatable.js"></script>

    <script>
        success('Flash Message');
    </script>

{% endblock %}