<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>E - Commerce</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/app/img/favicon.ico">

        <!-- Non-Minified Version -->
{#        <link rel="stylesheet" href="/static/app/css/fontawesome.min.css">#}
{#        <link rel="stylesheet" href="/static/app/css/ionicons.min.css">#}
{#        <link rel="stylesheet" href="/static/app/css/simple-line-icons.css">#}
{#        <link rel="stylesheet" href="/static/app/css/plugins/jquery-ui.min.css">#}
{#        <link rel="stylesheet" href="/static/app/css/bootstrap.min.css">#}
{#        <link rel="stylesheet" href="/static/app/css/plugins/plugins.css">#}
{#        <link rel="stylesheet" href="/static/app/css/plugins/aos.css" >#}
{#        <link rel="stylesheet" href="/static/app/css/style.min.css">#}

        <!-- Minified Version -->
        <link rel="stylesheet" href="/static/app/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="/static/app/css/plugins/plugins.min.css">
        <link rel="stylesheet" href="/static/app/css/style.min.css">
    </head>

    <body>
        <div class="offcanvas-overlay"></div>

        {% include "../layout/mobile-side-menu.njk" %}

        {% include "../layout/cart-wishlist/wishlist.njk" %}

        {% include "../layout/cart-wishlist/cart.njk" %}

        {% include "../layout/header/header.njk" %}

        {% block content %}{% endblock %}

        {% include "../layout/footer/footer.njk" %}

        {% include "../layout/modals/modals.njk" %}

        <!-- Non-Minified Version -->
{#        <script src="/static/app/js/vendor/jquery-3.5.1.min.js"></script>#}
{#        <script src="/static/app/js/vendor/modernizr-3.7.1.min.js"></script>#}
{#        <script src="/static/app/js/popper.min.js"></script>#}
{#        <script src="/static/app/js/plugins/jquery-ui.min.js"></script>#}
{#        <script src="/static/app/js/bootstrap.min.js"></script>#}
{#        <script src="/static/app/js/plugins/plugins.js"></script>#}
{#        <script src="/static/app/js/plugins/ajax-contact.js"></script>#}
{#        <script src="/static/app/js/plugins/aos.js"></script>#}
{#        <script src="/static/app/js/main.js"></script>#}

        <!-- Minified Version -->
        <script src="/static/app/js/vendor/vendor.min.js"></script>
        <script src="/static/app/js/plugins/plugins.min.js"></script>
        <script src="/static/app/js/main.js"></script>
    </body>
</html>