<div id="offcanvas-mobile-menu" class="offcanvas theme1 offcanvas-mobile-menu">
    <div class="inner">
        <div class="border-bottom mb-4 pb-4 text-right">
            <button class="offcanvas-close">×</button>
        </div>
        <div class="offcanvas-head mb-4">
            <nav class="offcanvas-top-nav">
                <ul class="d-flex flex-wrap">
                    <li class="my-2 mx-2">
                        <a href="{{ route('wishlist').path }}">
                            <i class="icon-bag"></i> Cart
                            <span>(0)</span>
                        </a>
                    </li>
                    <li class="my-2 mx-2">
                        <a href="{{ route('wishlist').path }}">
                            <i class="ion-android-favorite-outline"></i> Wishlist
                            <span>(3)</span>
                        </a>
                    </li>
                    <li class="my-2 mx-2">
                        <a href="compare.html">
                            <i class="ion-ios-loop-strong"></i> Compare
                            <span>(2)</span>
                        </a>
                    </li>
                    <li class="my-2 mx-2">
                        <a class="search search-toggle" href="#">
                            <i class="icon-magnifier"></i> Search
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <nav class="offcanvas-menu">
            <ul>
                <li>
                    <a href="#">
                        <span class="menu-text">Home</span>
                    </a>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="{{ route('home-1').path }}">Home 1</a>
                        </li>
                        <li>
                            <a href="{{ route('home-2').path }}">Home 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">Shop</span>
                    </a>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">
                                <span class="menu-text">Shop Grid</span>
                            </a>
                            <ul class="offcanvas-submenu">
                                <li>
                                    <a href="{{ route('shop-1').path }}">Shop 3 Column</a>
                                </li>
                                <li>
                                    <a href="{{ route('shop-2').path }}">Shop 4 Column</a>
                                </li>
                                <li>
                                    <a href="{{ route('shop-3').path }}">Shop Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="{{ route('shop-4').path }}">Shop Right Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="menu-text">Shop Single</span>
                            </a>
                            <ul class="offcanvas-submenu">
                                <li>
                                    <a href="{{ route('product-1').path }}">Shop Single</a>
                                </li>
                                <li>
                                    <a href="{{ route('product-2').path }}">Shop Variable</a>
                                </li>
                                <li>
                                    <a href="{{ route('product-3').path }}">Shop Group</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="menu-text">Other Pages</span>
                            </a>
                            <ul class="offcanvas-submenu">
                                <li>
                                    <a href="{{ route('about-us').path }}">About Page</a>
                                </li>
                                <li>
                                    <a href="{{ route('cart').path }}">Cart Page</a>
                                </li>
                                <li>
                                    <a href="{{ route('checkout').path }}">Checkout Page</a>
                                </li>
                                <li>
                                    <a href="{{ route('compare').path }}">Compare Page</a>
                                </li>
                                <li>
                                    <a href="{{ route('login-register').path }}">Login & Register Page</a>
                                </li>
                                <li>
                                    <a href="{{ route('account').path }}">Account Page</a>
                                </li>
                                <li>
                                    <a href="{{ route('wishlist').path }}">Wishlist Page</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">Pages</span>
                    </a>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="{{ route('about-us').path }}">About Page</a>
                        </li>
                        <li>
                            <a href="{{ route('cart').path }}">Cart Page</a>
                        </li>
                        <li>
                            <a href="{{ route('checkout').path }}">Checkout Page</a>
                        </li>
                        <li>
                            <a href="{{ route('compare').path }}">Compare Page</a>
                        </li>
                        <li>
                            <a href="{{ route('login-register').path }}">Login & Register Page</a>
                        </li>
                        <li>
                            <a href="{{ route('account').path }}">Account Page</a>
                        </li>
                        <li>
                            <a href="{{ route('wishlist').path }}">Wishlist Page</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">Blog</span>
                    </a>
                    <ul class="offcanvas-submenu">
                        <li>
                            <a href="#">
                                <span class="menu-text">Blog Grid</span>
                            </a>
                            <ul class="offcanvas-submenu">
                                <li>
                                    <a href="{{ route('blog-1').path }}">Blog Grid 3 column</a>
                                </li>
                                <li>
                                    <a href="{{ route('blog-2').path }}">Blog Grid 4 column</a>
                                </li>
                                <li>
                                    <a href="{{ route('blog-3').path }}">Blog Grid Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="{{ route('blog-4').path }}">Blog Grid Right Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="menu-text">Blog List</span>
                            </a>
                            <ul class="offcanvas-submenu">
                                <li>
                                    <a href="{{ route('blog-5').path }}">Blog List Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="{{ route('blog-6').path }}">Blog List Right Sidebar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="menu-text">Blog Single</span>
                            </a>
                            <ul class="offcanvas-submenu">
                                <li>
                                    <a href="{{ route('blog-7').path }}">Single Blog</a>
                                </li>
                                <li>
                                    <a href="{{ route('blog-8').path }}">Blog Single Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="{{ route('blog-9').path }}">Blog Single Right Sidebar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ route('contact-us').path }}">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="offcanvas-social py-30">
            <ul>
                <li>
                    <a href="#">
                        <i class="icon-social-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-social-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-social-google"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-social-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>