<!--suppress HtmlFormInputWithoutLabel -->
{% extends '../layout/master.njk' %}

{% block title %}Create{% endblock %}

{% block parentPageTitle %}Role{% endblock %}

{% block content %}
<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Role</strong> Create
                    </h2>
                </div>
                <div class="body">
                    <form action="javascript:void(0)" method="POST">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="role" id="role" placeholder="Role" required>
                                    <!-- <small class="text-danger">Error Message Here</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped role-table" style="color: black">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Resource</th>
                                        <th>Create</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Resource</td>
                                        <td>
                                            <input name="permissions[1][create]" value="0" type="hidden">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="permission-resource-create" name="permissions[1][create]" value="1" type="checkbox" checked>
                                                    <label for="permission-resource-create"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input name="permissions[1][view]" value="0" type="hidden">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="permission-resource-view" name="permissions[1][view]" value="1" type="checkbox" checked>
                                                    <label for="permission-resource-view"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input name="permissions[1][update]" value="0" type="hidden">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="permission-resource-update" name="permissions[1][update]" value="1" type="checkbox" checked>
                                                    <label for="permission-resource-update"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input name="permissions[1][delete]" value="0" type="hidden">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <input id="permission-resource-delete" name="permissions[1][delete]" value="1" type="checkbox" checked>
                                                    <label for="permission-resource-delete"></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Resource</th>
                                        <th>Create</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <button class="btn btn-raised btn-primary waves-effect" type="submit" style="width: 100%">Create Role</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}