@extends('admin.layout.master')

@section('title', $title)

@section('parentPageTitle', $parentPageTitle)

@section('content')
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong> {{ $parentPageTitle }}</strong> {{ $title }}
                    </h2>
                </div>
                <div class="body">
                    <form action="{{ route('admin.role.store') }}" method="POST">
                        @csrf
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="role" id="role" value="{{ old('role') }}" placeholder="Role" required>
                                    @error('role') <small class="text-danger">{{ $message }}</small> @enderror
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped role-table" style="color: black">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Resource</th>
                                        <th>Create</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach ($resources as $index => $resource)
                                        <tr>
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ $resource->resource }}</td>
                                            <td>
                                                <input name="permissions[{{ $resource->id }}][create]" value="0" type="hidden">
                                                @if (!in_array($resource->resource, ['Admin Panel', 'Orders', 'Contact Us', 'Users'], true))
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <input id="permission-{{ Str::kebab($resource->resource) }}-create" name="permissions[{{ $resource->id }}][create]" value="1" type="checkbox" @if (old("permissions[$resource->id][create]") === true) checked @endif>
                                                            <label for="permission-{{ Str::kebab($resource->resource) }}-create"></label>
                                                        </div>
                                                    </div>
                                                @endif
                                            </td>
                                            <td>
                                                <input name="permissions[{{ $resource->id }}][view]" value="0" type="hidden">
                                                @if (!in_array($resource->resource, [], true))
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <input id="permission-{{ Str::kebab($resource->resource) }}-view" name="permissions[{{ $resource->id }}][view]" value="1" type="checkbox" @if (old("permissions[$resource->id][view]") === true) checked @endif>
                                                            <label for="permission-{{ Str::kebab($resource->resource) }}-view"></label>
                                                        </div>
                                                    </div>
                                                @endif
                                            </td>
                                            <td>
                                                <input name="permissions[{{ $resource->id }}][update]" value="0" type="hidden">
                                                @if (!in_array($resource->resource, ['Admin Panel', 'Orders', 'Contact Us'], true))
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <input id="permission-{{ Str::kebab($resource->resource) }}-update" name="permissions[{{ $resource->id }}][update]" value="1" type="checkbox" @if (old("permissions[$resource->id][update]") === true) checked @endif>
                                                            <label for="permission-{{ Str::kebab($resource->resource) }}-update"></label>
                                                        </div>
                                                    </div>
                                                @endif
                                            </td>
                                            <td>
                                                <input name="permissions[{{ $resource->id }}][delete]" value="0" type="hidden">
                                                @if (!in_array($resource->resource, ['Admin Panel', 'Terms & Conditions', 'Privacy Policy', 'Cookies Policy'], true))
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <input id="permission-{{ Str::kebab($resource->resource) }}-delete" name="permissions[{{ $resource->id }}][delete]" value="1" type="checkbox" @if (old("permissions[$resource->id][delete]") === true) checked @endif>
                                                            <label for="permission-{{ Str::kebab($resource->resource) }}-delete"></label>
                                                        </div>
                                                    </div>
                                                @endif
                                            </td>
                                        </tr>
                                    @endforeach
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Resource</th>
                                        <th>Create</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <button class="btn btn-raised btn-primary waves-effect" type="submit" style="width: 100%">Create {{ $parentPageTitle }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
@stop