<div class="modal fade show style4" id="exampleModalCenter" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h5 class="modal-title bg-dark text-white">Write your review</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="modal-thumb">
                            <img src="assets/img/slider/thumb/3.1.jpg" alt="modal-thumb">
                            <h3 class="title">Originals Windbreaker Winter Face Cream</h3>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="modal-form">
                            <h3 class="title">Write your review</h3>
                            <div class="star-content pb-3">
                                <span class="quality mr-2">Quality</span>
                                <span class="star-on">
                                    <i class="ion-ios-star"></i>
                                </span>
                                <span class="star-on">
                                    <i class="ion-ios-star"></i>
                                </span>
                                <span class="star-on">
                                    <i class="ion-ios-star"></i>
                                </span>
                                <span class="star-on">
                                    <i class="ion-ios-star"></i>
                                </span>
                                <span class="star-on">
                                    <i class="ion-ios-star"></i>
                                </span>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label class="title" for="text-filed113">Title for your review
                                        <sup class="required">*</sup>
                                    </label>
                                    <input type="text" class="form-control" id="text-filed113">
                                </div>
                                <div class="form-group">
                                    <label for="text-filed21">Your review
                                        <sup class="required">*</sup>
                                    </label>
                                    <textarea class="form-control textarea" id="text-filed21" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="text-filed031">Your name
                                        <sup class="required">*</sup>
                                    </label>
                                    <input type="text" class="form-control" id="text-filed031">
                                </div>
                            </form>
                            <div class="form-group mt-3">
                                <span class="required">
                                    <sup>*</sup>Required fields
                                </span>
                                <div class="text-right">
                                    <button type="button" class="btn btn-dark btn-dark 3-sm btn--sm">Send</button>
                                    <span class="d-inline-block mx-2 or">or </span>
                                    <button type="button" class="btn btn-dark btn-dark 3-sm btn--sm" data-dismiss="modal">cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>