{% extends '../layout/authentication.njk' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <form class="card auth_form" method="POST" action="javascript:void(0)">
                <div class="header">
                    <img class="logo" src="app/img/logo/logo.png" alt="">
                    <h5>Log in</h5>
                </div>
                <div class="body">
                    <div class="input-group mb-3">
                        <label for="email"></label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="E-Mail" style="color: white">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="zmdi zmdi-account-circle"></i>
                            </span>
                        </div>
                        <!-- <small class="text-danger" style="display: contents">Error Message Here</small> -->
                    </div>
                    <div class="input-group mb-3">
                        <label for="password"></label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" style="color: white">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
                        </div>
                        <!-- <small class="text-danger" style="display: contents">Error Message Here</small> -->
                    </div>
                    <div class="checkbox">
                        <input id="remember_me" type="checkbox">
                        <label for="remember_me">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SIGN IN</button>
                </div>
            </form>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <img src="images/signin.svg" alt="Sign In">
            </div>
        </div>
    </div>
{% endblock %}