<footer class="bg-light theme1 position-relative">
    <div class="footer-bottom pt-80 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                    <div class="footer-widget mx-w-400">
                        <div class="footer-logo mb-25">
                            <a href="{{ route('app.home-1').path }}">
                                <img src="app/img/logo/logo.png" alt="footer logo"/>
                            </a>
                        </div>
                        <p class="text mb-30">
                            We are a team of professional designers and developers that create
                            high quality wordpress plugins, Html, React Template.
                        </p>
                        <div class="social-network">
                            <ul class="d-flex">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <span class="icon-social-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <span class="icon-social-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <span class="icon-social-youtube"></span>
                                    </a>
                                </li>
                                <li class="mr-0">
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <span class="icon-social-instagram"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 mb-30">
                    <div class="footer-widget">
                        <div class="border-bottom cbb1 mb-25">
                            <div class="section-title">
                                <h2 class="title">Information</h2>
                            </div>
                        </div>
                        <ul class="footer-menu">
                            <li>
                                <a href="{{ route('app.about-us').path }}">About us</a>
                            </li>
                            <li>
                                <a href="#">Payment</a>
                            </li>
                            <li>
                                <a href="{{ route('app.contact-us') }}">Contact us</a>
                            </li>
                            <li>
                                <a href="#">Stores</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 mb-30">
                    <div class="footer-widget">
                        <div class="border-bottom cbb1 mb-25">
                            <div class="section-title">
                                <h2 class="title">social Links</h2>
                            </div>
                        </div>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">New products</a>
                            </li>
                            <li>
                                <a href="#">Best sales</a>
                            </li>
                            <li>
                                <a href="{{ route('app.login-register').path }}">Login</a>
                            </li>
                            <li>
                                <a href="{{ route('app.login-register').path }}">Register</a>
                            </li>
                            <li>
                                <a href="{{ route('app.account').path }}">Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-30">
                    <div class="footer-widget">
                        <div class="border-bottom cbb1 mb-25">
                            <div class="section-title">
                                <h2 class="title">Newsletter</h2>
                            </div>
                        </div>
                        <p class="text mb-20">
                            Subscribe to the TheFace mailing list to receive update on new
                            arrivals, special offers and other discount information.
                        </p>
                        <div class="nletter-form mb-35">
                            <form class="form-inline position-relative" action="javascript:void(0)" method="POST">
                                <input id="news-letter-email" class="form-control" type="text" placeholder="Your email address">
                                <label for="news-letter-email"></label>
                                <button class="btn news-letter-btn text-capitalize" type="submit">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="coppy-right bg-dark py-15">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 order-last order-md-first">
                    <div class="text-md-left text-center mt-3 mt-md-0">
                        <p>Copyright &copy; <a href="https://hasthemes.com/">HasThemes</a>. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-8">
                    <div class="text-md-right text-center">
                        <img src="app/img/payment/1.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>