{% extends '../layout/master.njk' %}

{% block title %}View{% endblock %}

{% block parentPageTitle %}Order{% endblock %}

{% block pageStyle %}
    <link rel="stylesheet" href="plugins/bootstrap-select/css/bootstrap-select.css">
    <link rel="stylesheet" href="plugins/sweetalert/sweetalert.css">
{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Order</strong> View
                    </h2>
                </div>
                <div class="body">
                    <h5>
                        <strong>Order ID: </strong> #000000
                    </h5>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <address>
                                <strong>Guest Customer</strong>
                                <br>
                                street_address, town_city, state zip_code, country
                                <br>
                                <abbr title="Phone">P:</abbr> phone
                            </address>
                        </div>
                        <div class="col-md-6 col-sm-6 text-right">
                            <p class="mb-0"><strong>Order Date: </strong> created_at</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover c_table theme-color">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Product ID</th>
                                        <th>Name</th>
                                        <th>Length</th>
                                        <th>Width</th>
                                        <th>Height</th>
                                        <th>Weight</th>
                                        <th>Regular Price</th>
                                        <th>Discount Price</th>
                                        <th>Image</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#</td>
                                        <td>Product ID</td>
                                        <td>Name</td>
                                        <td>Lengtd</td>
                                        <td>Widtd</td>
                                        <td>Height</td>
                                        <td>Weight</td>
                                        <td>Regular Price</td>
                                        <td>Discount Price</td>
                                        <td>Image</td>
                                        <td>Quantity</td>
                                        <td>Subtotal</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 text-right">
                            <ul class="list-unstyled">
                                <li>
                                    <form action="javascript:void(0)" method="POST" id="order-status-1">
                                        <label>
                                            <select class="form-control" name="order_status" onchange="document.getElementById('order-status-1').submit()">
                                                <option value="1" selected>Paid</option>
                                            </select>
                                        </label>
                                    </form>
                                </li>
                                <li class="text-info">
                                    <p style="font-size: large">Sub-Total: <strong>subTotal</strong></p>
                                </li>
                                <li class="text-info">
                                    <p style="font-size: large">Shipping: <strong>shipping</strong></p>
                                </li>
                            </ul>
                            <h3 class="mb-0 text-success">Total: total</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageScript %}
    <script src="plugins/sweetalert/sweetalert.min.js"></script>
    <script src="plugins/axios/axios.min.js"></script>
    <script>
        const success = message => {
            swal('Operation Successful', message, 'success');
        };

        success('Message');
    </script>
{% endblock %}