@extends('admin.layout.master')

@section('title', $title)

@section('parentPageTitle', $parentPageTitle)

@section('page-style')
    <link rel="stylesheet" href="{{ asset('assets/plugins/summernote/dist/summernote.css') }}"/>
@stop

@section('content')
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>{{ $parentPageTitle }}</strong> {{ $title }}
                    </h2>
                </div>
                <div class="body">
                    @can('accessTo', ['update', 'Cookies Policy'])
                        <form method="POST" action="{{ route('admin.policy.cookies-policy.update', $cookiesPolicy->id) }}">
                            @csrf @method('PATCH')
                            <textarea class="summernote" name="content">{{ $cookiesPolicy->content }}</textarea>
                            <button type="submit" class="btn btn-info waves-effect m-t-20">Update</button>
                        </form>
                    @endcan
                    @cannot('accessTo', ['update', 'Cookies Policy'])
                        <div>{{ $cookiesPolicy->content }}</div>
                    @endcannot
                </div>
            </div>
        </div>
    </div>
@stop

@section('page-script')
    <script src="{{ asset('assets/plugins/summernote/dist/summernote.js') }}"></script>
@stop