<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- <meta name="csrf-token" content="some-dummy-csrf"> -->
        <link rel="shortcut icon" type="image/x-icon" href="app/img/favicon.ico">
        <title>{% block title %}E - Commerce{% endblock %}</title>
        <link rel="stylesheet" href="admin/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="admin/css/style.min.css">
    </head>
    <body class="theme-dark">
        <div class="authentication">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
