<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- <meta name="csrf-token" content="some-dummy-token"> -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

        <title>E - Commerce Admin</title>

        {% block meta %}{% endblock %}

        <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">

        {% block pageStyle %}{% endblock %}

        <link rel="stylesheet" href="css/style.min.css">
    </head>
    <body class="theme-dark">
        {% set breadcrumbTitle %}
            {% block title %}{% endblock %}
        {% endset %}

        {% set breadcrumbParentPageTitle %}
            {% block parentPageTitle %}{% endblock %}
        {% endset %}

        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30">
                    <img class="zmdi-hc-spin" src="images/logo.png" width="48" height="48" alt="Aero">
                </div>
                <p>Please wait...</p>        
            </div>
        </div>
        <div class="overlay"></div>

        {% include './navbarright.njk' %}
        {% include './sidebar.njk' %}
        {% include './rightsidebar.njk' %}

        <section class="content">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>{% block title %}{% endblock%}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="zmdi zmdi-home"></i> E-Commerce
                                </a>
                            </li>
                            {% if breadcrumbTitle %}
                                {{ breadcrumbTitle | dump }}
                            {% endif %}
                            {% if breadcrumbParentPageTitle %}
                                {{ breadcrumbParentPageTitle | dump }}
                            {% endif %}
                            <li class="breadcrumb-item">{% block parentPageTitle %}{% endblock %}</li>
                            <li class="breadcrumb-item active">{#{% block title %}{% endblock%}#}</li>
                        </ul>
                        <button class="btn btn-primary btn-icon mobile_menu" type="button">
                            <i class="zmdi zmdi-sort-amount-desc"></i>
                        </button>
                    </div>            
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </section>

        <script src="bundles/libscripts.bundle.js"></script>
        <script src="bundles/vendorscripts.bundle.js"></script>
        <script src="bundles/mainscripts.bundle.js"></script>

        {% block pageScript %}{% endblock %}

        {% block sideBarScript %}{% endblock %}
    </body>
</html>