{% extends '../layout/master.njk' %}

{% block pageStyle %}
    <link rel="stylesheet" href="/static/admin/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/admin/plugins/sweetalert/sweetalert.css">
{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>{{ parentPageTitle }}</strong> {{ title }}
                    </h2>
                    <ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="zmdi zmdi-more"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp">
                                <li>
                                    <a href="{{ route('admin.products.create').path }}">Create</a>
                                </li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close">
                                <i class="zmdi zmdi-close"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped dataTable js-exportable" style="color: black">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    {% for dataColumn in dataColumns %}
                                        <th>{{ convertCase(dataColumn, 'camelCase', 'spaceCase') }}</th>
                                    {% endfor %}
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dataItem in data %}
                                    <tr data-record-id="{{ dataItem.id }}">
                                        <td>{{ loop.index }}</td>
                                        {% for dataColumn in dataColumns %}
                                            <td>
                                                {% if dataColumn === 'image' %}
                                                    <img src="{{ dataItem[dataColumn] }}" alt="">
                                                {% else %}
                                                    {{ dataItem[dataColumn] }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td>
                                            <a href="{{ route('admin.products.view', { product: dataItem.id }).path }}" class="btn btn-success btn-icon btn-icon-mini btn-round">
                                                <i class="zmdi zmdi-eye"></i>
                                            </a>
                                            <a href="{{ route('admin.products.edit', { product: dataItem.id }).path }}" class="btn btn-primary btn-icon btn-icon-mini btn-round">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-danger btn-icon btn-icon-mini btn-round" onclick="document.getElementById('data-item-delete-form-{{ dataItem.id }}').submit()">
                                                <i class="zmdi zmdi-delete"></i>
                                            </a>
                                            {% set dataItemDeleteForm = route('admin.products.delete', { product: dataItem.id }) %}
                                            <form id="data-item-delete-form-{{ dataItem.id }}" action="{{ dataItemDeleteForm.path }}" method="POST" style="display: none">{{ _method(dataItemDeleteForm.method) | safe }}</form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    {% for dataColumn in dataColumns %}
                                        <th>{{ convertCase(dataColumn, 'camelCase', 'spaceCase') }}</th>
                                    {% endfor %}
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageScript %}
    <script src="/static/admin/bundles/datatablescripts.bundle.js"></script>
    <script src="/static/admin/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="/static/admin/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="/static/admin/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="/static/admin/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="/static/admin/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="/static/admin/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="/static/admin/plugins/jquery-datatable/buttons/buttons.pdf.min.js"></script>
    <script src="/static/admin/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/static/admin/plugins/axios/axios.min.js"></script>
    <script src="/static/admin/js/pages/tables/jquery-datatable.js"></script>

    <script>
        success('flashMessage');
    </script>

{% endblock %}